<%= render "partials/mainNav" %>
<%= render "partials/asideCalendar" %>

<section>
	<div class="rectup" style="background: <%= @colorDos %>;">
		<div class="arr left" id="prevMonth"></div>
		<div class="nameMonth dia"></div>              
		<div class="arr right" id="nextMonth"></div>
	</div>
	<div class="rectdw" style="background: <%= @colorUno %>;"> </div>
	<div class="rectdias">
		<table class="Nombredias">
			<thead id="encabezado">
				<tr>
					<th class="nombreDia">Lunes</th>
					<th class="nombreDia">Martes</th>
					<th class="nombreDia">Miercoles</th>
					<th class="nombreDiap">Jueves</th>
					<th class="nombreDiap">Viernes</th>
					<th class="nombreDiap">Sabado</th>
					<th class="nombreDiap">Domingo</th>
				</tr>
			</thead>
		</table> 
	</div>


	<div class="cuadrosmes">
		<table class="calendar"></table>              
	</div>
</section>

<script>
	$(document).on("ready", function(){
		var monthNames = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre", "Diciembre"];

        calendar($(".calendar"),null);
        var fecha = new Date();
        var month = fecha.getMonth();
        var year = fecha.getFullYear();
        var txtMonth = monthNames[month];

        $(".nameMonth").text(txtMonth)
        var nombreMes = $(".nameMonth");
        var current = monthNames.indexOf(nombreMes.text()); 
        

        $("#prevMonth").on("click", function(e){                                            
            var tempMonth = current - 1;

            if(tempMonth < 0)
                tempMonth = 0;

            current = tempMonth;
            nombreMes.text(monthNames[tempMonth]);
            calendar($(".calendar"),tempMonth);
        });

        $("#nextMonth").on("click", function(){                    
            var tempMonth = current + 1;

            if(tempMonth >= 11)
                tempMonth = 11;

            current = tempMonth;
            nombreMes.text(monthNames[tempMonth]);
            calendar($(".calendar"),tempMonth);
        });

        function calendar(calendario, mes){

            //Variables to be used later.  Place holders right now.
            var padding ="";
            var totalFeb ="";
            var i = 1;
            var testing="";

            var current = new Date();
            var month;
            if(mes!=null)
                month = mes;
            else
                month = current.getMonth();
            
            var day = current.getDate();
            var year = current.getFullYear();
            var tempMonth = month+1; //+1; //Used to match up the current month with the correct start date.
            var prevMonth = month -1;

            //Determing if Feb has 28 or 29 days in it.  
            if (month == 1){
                if ( (year%100!=0) && (year%4==0) || (year%400==0)){
                    totalFeb = 29;
                }else{
                    totalFeb = 28;
                }
            }

            // Setting up arrays for the name of the  months, days, and the number of days in the month.

             var monthNames = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre", "Diciembre"];
             var dayNames = ["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes", "Sabado"];
             var totalDays = ["31", ""+totalFeb+"","31","30","31","30","31","31","30","31","30","31"];

            // Temp values to get the number of days in current month, and previous month. Also getting the day of the week.    //

             var tempDate = new Date(tempMonth +' 1 ,'+year);
             var tempweekday= tempDate.getDay();
             var tempweekday2 = tempweekday;
             var dayAmount = totalDays[month];
             var preAmount = totalDays[prevMonth] - tempweekday + 1;         

            // After getting the first day of the week for the month, padding the other days for that week with the previous months days. 
            // IE, if the first day of the week is on a Thursday, then this fills in Sun - Wed with the last months dates, counting down from the last
            // day on Wed, until Sunday.

            while (tempweekday>1){
                padding += "<td class='premonth'></td>";
                preAmount++;
                tempweekday--;
            }

            // Filling in the calendar with the current month days in the correct location along.    //

            while (i <= dayAmount){

                // Determining when to start a new row  //

                if (tempweekday2 > 7){
                    tempweekday2 = 1;
                    padding += "</tr><tr>";
                }

                // checking to see if i is equal to the current day, if so then we are making the color of that cell a different color using CSS.  Also adding a rollover 
                //effect to highlight the day the user rolls over. This loop creates the acutal calendar that is displayed. 

                if (i == day){
                    padding +="<td class='currentday tddias' onMouseOver='this.style.background=\"#B1B1B1\";  onMouseOut='this.style.background=\"#FFFFFF\"; '>"+i+"</td>";
                }else{
                   padding +="<td class='currentmonth tddias' onMouseOver='this.style.background=\"#B1B1B1\"' onMouseOut='this.style.background=\"#FFFFFF\"'>"+i+"&nbsp;</td>";
                }
                
                tempweekday2++;
                i++;
            }

             // Ouptputing the calendar onto the site.  Also, putting in the month name and days of the week.      //

            var calendarTable = "<table class='calendar'> <tr class='currentmonth'><th colspan='7'></th></tr>";
            //calendarTable +="<tr class='weekdays'>  <td>Monday</td>  <td>Tuesday</td> <td>Wednesday</td> <td>Thursday</td> <td>Friday</td> <td>Saturday</td> <td>Sunday</td> </tr>";
             calendarTable += "<tr>";
             calendarTable += padding;
             calendarTable += "</tr></table>";

            $(".calendar").html(calendarTable);
        }

		(function () {
			var date = new Date(),
			weekday = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"];

			document.getElementById('day').innerHTML = weekday[date.getDay()];
			document.getElementById('number').innerHTML = date.getDate();
		}) ();
	});
</script>